@font-face {
    font-family: "Anta-Regular";
    src: url('../fonts/Anta-Regular.ttf') format('truetype');
  }
  
  * {
    font-family: "Anta-Regular", sans-serif;
  }
  
  body{
    line-height: 1.5;
    background-color: #000000;
  }

/* ---------------------
Header + Menu + Navbar
--------------------- */

  header{
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2019;
  }
  
  .navbar{
    background-color: #000000;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    position: relative;
    z-index: 2020;
  }
  
  .container-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .navbar-header{
    display: flex;
    align-items:center;
    width: 90%;
    justify-content: space-between;
  }
  
  .link {
    background: none;
    border: none;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0;
  }
  
  .hero-layout {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  
  }
  
  #logo {
    height: 5rem;
    margin-left: 1.25rem;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    top: calc(100% + 0.15rem);
    right: 0;
    background-color: #000000;
    padding: .75rem;
    border-radius: 1.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-0.5rem) translateX(1rem);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none;
  }
  
  .dropdown > .link:hover + .dropdown-menu,
  .dropdown > .link:focus + .dropdown-menu,
  .dropdown-menu:hover,
  .dropdown-menu:focus {
    opacity: 1;
    transform: translateY(-0.5rem) translateX(1rem);
    pointer-events: auto;
  }
  
  .link:hover {
    color: #a9ff5c;
    transition: ease-in-out 0.6s;
  }
  
  .dropdown-menu a {
    display: block;
    padding: .5rem 0;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.25rem;
    transition: background-color 0.3s ease-in-out;
  }
  
  .dropdown-menu a:hover {
    color: #a9ff5c;
    border-radius: 0.25rem;
    transition: ease-in-out 0.6s;
  }
  
  .nav-menu {
    display: none;
  }

  /* ---------------------
  Hero section
  --------------------- */

.section-hero-home {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    text-align: center;
    overflow: hidden;
  }

 .container {
    margin: auto;
    width: 100%;
  }

  .heading {
    font-size: 2rem;
    letter-spacing: .06em;
    line-height: 90%;
    position: relative;
    z-index: 2;
  }

  .paragraph {
    color: grey;
    font-size: 1.25rem;
    line-height: 1.5;
    max-width: 100%;
    position: relative;
    z-index: 2;
  }

  .container-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
    z-index: 2;
  }


  .button {
    background-color: #ffffff;
    border-radius: 0.65rem;
    color: #000000;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: transform .5s cubic-bezier(.19,1,.22,1),opacity .8s cubic-bezier(.19,1,.22,1);
  }

  .button:hover {
    background-color: #42b883;
    color: #000000;
    transform: scale(1.1);
  }

  .button:active {
    background-color: #000000;
    color: #ffffff;
  }

@keyframes slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.logos {
  overflow: hidden;
  padding: 1rem 0;
  white-space: nowrap;
  position: relative;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 2.75rem;
  margin: 0 1rem;
}

img {
  border-radius: 50%;
}

/* --------------------- 
Artist section
--------------------- */

@keyframes slide-artists {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.artist {
  overflow: hidden;
  padding: 1rem 0;
  white-space: nowrap;
  position: relative;
}

.artist:hover .artist-slide {
  animation-play-state: paused;
}

.artist-slide {
  display: inline-block;
  animation: 50s slide-artists infinite linear;
}

.artist-slide img {
  height: 6.75rem;
  margin: 0 1rem;
}

  /* ---------------------
  Media Queries
  --------------------- */

  @media (min-width: 48rem) {
    .heading {
      font-size: 2.5rem;
    }

    .paragraph {
      font-size: 1.5rem;
    }

    .button {
      font-size: 1.5rem;
    }

    .logos-slide img {
      height: 4.5rem;
    }

    .artist-slide img {
      height: 8.25rem;
    }
  }
  
  @media (min-width: 64rem) {

    .dropdown-menu:hover {
        background-color: #000000;
        color: #ffffff;
    }

    .navbar-header {
        display: flex;
        margin: auto;
    }
    
    #logo {
      width: 8rem;
      height: 6rem;
      margin-left: 0px;
    }

    .link{
      display: none;
    }

    .nav-menu{
      display: flex;
      justify-content: flex-end;
      margin-right: 0rem;
    }

    .nav-menu a{
      display: block;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      color: #f7f3f3;
      font-size: 1.25rem;
      transition: background-color 0.3s ease-in-out;
    }

    .nav-menu a:hover{
      background-color: #42b883;
      border-radius: 0.25rem;
    }

    .nav-menu a:active{
      background-color: #000000;
      color: #ffffff;
    }

    .heading {
      font-size: 4rem;
    }
}

@media (min-width: 90rem) {

  .heading {
    font-size: 5rem;
  }

  .paragraph {
    font-size: 1.75rem;
  }

  .button {
    font-size: 1.75rem;
  }

  .logos-slide img {
    height: 5.25rem;
  }

  .artist-slide img {
    height: 9.75rem;
  }
  
}
