@font-face {
    font-family: "Anta-Regular";
    src: url('../fonts/Anta-Regular.ttf') format('truetype');
  }
  
  * {
    font-family: "Anta-Regular", sans-serif;
  }
  
  body{
    background-color: #000000;
  }
  
  header{
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2019;
  }
  
  .navbar{
    background-color: #000000;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    position: relative;
    z-index: 2020;
  }
  
  .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .navbar-header{
    display: flex;
    align-items:center;
    width: 90%;
    justify-content: space-between;
  }
  
  .link {
    background: none;
    border: none;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0;
  }
  
  .hero-layout {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  
  }
  
  #logo {
    height: 5rem;
    margin-left: 1.25rem;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    top: calc(100% + 0.15rem);
    right: 0;
    background-color: #000000;
    padding: .75rem;
    border-radius: 1.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-0.5rem) translateX(1rem);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none;
  }
  
  .dropdown > .link:hover + .dropdown-menu,
  .dropdown > .link:focus + .dropdown-menu,
  .dropdown-menu:hover,
  .dropdown-menu:focus {
    opacity: 1;
    transform: translateY(-0.5rem) translateX(1rem);
    pointer-events: auto;
  }
  
  .link:hover {
    color: #a9ff5c;
    transition: ease-in-out 0.6s;
  }
  
  .dropdown-menu a {
    display: block;
    padding: .5rem 0;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.25rem;
    transition: background-color 0.3s ease-in-out;
  }
  
  .dropdown-menu a:hover {
    color: #a9ff5c;
    border-radius: 0.25rem;
    transition: ease-in-out 0.6s;
  }
  
  .nav-menu{
    display: none;
  }
  
  
/* ---------------
Register-form
--------------- */


.register-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin-top: 5rem;

}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #42b883;
  border-radius: 5px;
  margin-top: 1rem;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 90%;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input {
  margin-right: 10px;
}

.submit-button {
  background-color: #000000; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.6s ease-in-out;
}

.submit-button:hover {
  background-color: #45a049;

}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    height: 100%;
    width: auto;
  }
}

/* ---------------
Media Queries
--------------- */


@media (min-width: 48rem) {
  .register-container{
    margin-top: 0;
  }

  .navbar-header {
    display: flex;
    margin: auto;
  }

  #logo {
    width: 8rem;
    height: 6rem;
    margin-left: 0px;
  }

  
  .link {
    display: none;
  }

  .nav-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 0rem;
  }

  .nav-menu a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #f7f3f3;
    font-size: 1.25rem;
    transition: background-color 0.3s ease-in-out;
  }

  .nav-menu a:hover {
    background-color: #42b883;
    border-radius: 0.25rem;
  }

  .nav-menu a:active {
    background-color: #000000;
    color: #ffffff;
  }


  form{
    width: 25rem;
    margin-top: 12rem;
  }
  
  .back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
    height: 100%;
  } 
}

@media (min-width: 64rem) {
  .dropdown-menu:hover {
    background-color: #000000;
    color: #ffffff;
  }

  .navbar-header {
    display: flex;
    margin: auto;
  }

  #logo {
    width: 8rem;
    height: 6rem;
    margin-left: 0px;
  }

  .link {
    display: none;
  }

  .nav-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 0rem;
  }

  .nav-menu a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #f7f3f3;
    font-size: 1.25rem;
    transition: background-color 0.3s ease-in-out;
  }

  .nav-menu a:hover {
    background-color: #42b883;
    border-radius: 0.25rem;
  }

  .nav-menu a:active {
    background-color: #000000;
    color: #ffffff;
  }

  form{
    width: 27rem;
  }
  
  .register-container{
    margin-top: 0;
  }

  .back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }

  @media (min-aspect-ratio: 16/9) {
    .back-video {
    width: 100%;
    height: auto;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .back-video {
      height: 100%;
      width: auto;
    }
  }
  
}