@media (min-width: 48rem) {
    .hero-media {
        display: grid;
    }

    .home-intro-video {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    img {
        margin-right: 1.25rem;
    }

    .heading{
        font-size: 7rem;
        background-position: -170%;
    }
}

@media (min-width: 64rem) {
    .dropdown-menu:hover {
        background-color: #000000;
        color: #ffffff;
    }

    .navbar-header {
        display: flex;
        margin: auto;
    }

    #logo {
        width: 8rem;
        height: 6rem;
        margin-left: 0px;
    }

    .link {
        display: none;
    }

    .nav-menu {
        display: flex;
        justify-content: flex-end;
        margin-right: 0rem;
    }

    .nav-menu a {
        display: block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #f7f3f3;
        font-size: 1.25rem;
        transition: background-color 0.3s ease-in-out;
    }

    .nav-menu a:hover {
        background-color: #42b883;
        border-radius: 0.25rem;
    }

    .nav-menu a:active {
        background-color: #000000;
        color: #ffffff;
    }

    .heading {
        font-size: 8rem;
        margin-top: 10rem;
        background-size: 200%;
        background-position: -166%;
    }
}

@media (min-width: 90rem) {
    .heading {
        font-size: 9rem;
        margin-top: 10rem;
        background-size: 38%;
        background-position: -152%;
    }

    .home-intro-video{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 3rem;
        margin-left: 3rem;
    }
}