:root {
    --red-50: rgb(247, 231, 237);
    --red-100: rgb(230, 180, 198);
    --red-200: rgb(217, 144, 170);
    --red-300: rgb(200, 93, 132);
    --red-400: rgb(189, 61, 108);
    --red-500: rgb(173, 13, 71);
    --red-600: rgb(157, 12, 65);
    --red-700: rgb(123, 9, 50);
    --red-800: rgb(95, 7, 39);
    --red-900: rgb(73, 5, 30);
    --yellow-50: rgb(255, 250, 241);
    --yellow-100: rgb(255, 240, 210);
    --yellow-200: rgb(255, 232, 189);
    --yellow-300: rgb(255, 222, 159);
    --yellow-400: rgb(255, 216, 140);
    --yellow-500: rgb(255, 206, 111);
    --yellow-600: rgb(232, 187, 101);
    --yellow-700: rgb(181, 146, 79);
    --yellow-800: rgb(140, 113, 61);
    --yellow-900: rgb(107, 87, 47);
    --blue-50: rgb(233, 230, 234);
    --blue-100: rgb(187, 178, 190);
    --blue-200: rgb(154, 140, 159);
    --blue-300: rgb(108, 88, 115);
    --blue-400: rgb(80, 55, 88);
    --blue-500: rgb(36, 5, 46);
    --blue-600: rgb(33, 5, 42);
    --blue-700: rgb(26, 4, 33);
    --blue-800: rgb(20, 3, 25);
    --blue-900: rgb(15, 2, 19);
}