@import url(./color.css);

/* -----RESET----- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
  font-style: italic;
}

input,
button {
  font: inherit;
}

/* -----BODY----- */

body {
  font-family: var(--main-font);
}

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  color: var(--yellow-500);
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.2;
}

.heading-4-dm {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
}

.heading-4-mo {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
}

.paragraph-style {
  font-family: Open Sans, system-ui, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-wrap: pretty;
}

.light-link {
  font-family: Lato;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--red-500);
  text-underline-offset: 0.25em;
  transition: color var(--animation-timing);
}

.light-link:hover {
  color: var(--red-200);
}

.dark-link {
  font-family: Lato;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--yellow-50);
  text-underline-offset: 0.25em;
  transition: color var(--animation-timing);
}

.dark-link:hover {
  color: var(--yellow-500);
}

@media (max-width: 550px) {
  h1 {
    font-size: 2rem;
    text-wrap: balance;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .heading-4-dm {
    font-size: 1rem;
  }
}

/* -----TO TOP ARROW----- */

body > a {
  background: var(--red-50);
  border: 0.125rem solid transparent;
  border-radius: 25rem;
  height: 2.75rem;
  width: 2.75rem;
  aspect-ratio: 1 / 1;
  position: fixed;
  inset-block-end: 2rem;
  inset-inline-end: 2rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(173, 13, 71, 0.32);
  transition: all var(--animation-timing);
}

body > a svg {
  color: var(--red-500);
  height: 1.25rem;
  width: 1.25rem;
  position: absolute;
  inset: 0;
  transform: translate(50%, 50%);
}

body > a:is(:hover, :focus) {
  background: var(--red-500);
  & svg {
    color: white;
  }
}

@media (max-width: 768px) {
  body > a {
    inset-block-end: 0.5rem;
    inset-inline-end: 0.5rem;
  }
}

/* -----HEADER NAV SECTION----- */

.nav-bar {
  height: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--inline-padding);
}

.fw-bar {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: subgrid;
  border-block-end: 1px solid var(--blue-400);
  background:
    linear-gradient(90deg, var(--blue-500), rgba(0, 0, 0, 0), var(--blue-500)),
    linear-gradient(0deg, rgba(36, 5, 46, 0.48), rgba(36, 5, 46, 0.48));
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

.nav-bar > a img {
  height: 5rem;
  cursor: pointer;
}

.nav-bar nav {
  display: flex;
  justify-content: flex-end;
}

.nav-bar nav > a {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--yellow-50);
  text-decoration: none;
  padding-inline: 1.5rem;
}

.nav-bar a:not(a:first-of-type) {
  border-inline-start: 1px solid var(--blue-400);
}

.mobile-only {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  inset-block-start: var(--hamburger-margin);
  inset-inline-end: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu input {
  appearance: none;
  outline: none;
  pointer-events: none;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--yellow-50);
  border-radius: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue-500);
  padding-inline: var(--inline-padding);
  padding-block-start: 6rem;
  gap: 1.25rem;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.sidebar nav a {
  font-size: 1.25rem;
  line-height: 1.4;
  text-decoration: none;
  font-weight: 700;
  color: var(--blue-50);
}

.sidebar-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-block-start: 1px solid var(--blue-300);
  gap: 2rem;
}

.sidebar-details div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--inline-padding);
}

.sidebar-details div:first-of-type {
  padding-block-start: 1.25rem;
  gap: 0.25rem;
}

.sidebar-details div:last-of-type {
  gap: 1.25rem;
}

.sidebar-details div:first-of-type p:is(:first-of-type, :nth-of-type(4)) {
  color: var(--blue-50);
}

.sidebar-details div:first-of-type p:is(:nth-of-type(2), :nth-of-type(5)) {
  color: var(--red-200);
}

.sidebar-details div:first-of-type p:nth-of-type(3) {
  color: var(--blue-300);
}

.sidebar-details div:last-of-type {
  padding-inline: 1.25rem;
  text-wrap: pretty;
  text-align: center;
  & p {
    color: var(--blue-100);
  }
  & h3 {
    color: var(--yellow-500);
    font-weight: 700;
  }
}

/* -----HERO SECTION----- */

.hero-section > article {
  display: grid;
  grid-template-areas:
    "Label     ."
    "Title     ."
    "Subtitle  .";
  grid-template-columns: auto 50%;
  padding-inline: var(--inline-padding);
  min-height: 43.75rem;
  align-content: center;
  gap: 1rem;
}

.hero-section article > h2 {
  grid-area: Label;
  font-weight: 400;
  color: var(--red-50);
}

.hero-section article > h1 {
  grid-area: Title;
}

.hero-section article > h3 {
  grid-area: Subtitle;
  text-wrap: pretty;
  color: var(--red-50);
}

@media (max-width: 1024px) {
  .fw-bar {
    position: absolute;
    inset-inline: 0;
  }
  
  .nav-bar {
    height: 7rem;
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding-block-start: 0;
  }

  .hero-section > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-bar {
    display: none;
  }

  .mobile-only {
    display: flex;
    flex-direction: column;
  }

  .mobile-only {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: clip;
  }

  .mobile-only > a {
    height: 5rem;
    position: absolute;
    z-index: 2;
    margin-block: 1rem;
    padding-inline: var(--inline-padding);
  }

  .mobile-only > a img {
    height: 5rem;
  }

  .mobile-only .sidebar {
    grid-column: 1 / span 2;
  }

  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid var(--blue-500);
    box-shadow: 0 0 0 1px var(--yellow-50);
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), tanslate var(--animation-timing),
      background-color var(--animation-timing);
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }

  .sidebar {
    translate: 100%;
    transition: translate var(--animation-timing);
  }

  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
  }

  body:has(.hamburger-menu input:checked) {
    overflow: hidden;
  }
}
/* -----CARDS SECTION----- */

.grid-fw:has(.cards-section) {
  background: linear-gradient(0deg, var(--red-50), var(--red-50-zero));
}

.cards-section {
  display: flex;
  flex-direction: column;
  padding-inline: var(--inline-padding);
}

.cards-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  margin-block-end: 3rem;
}

.cards-title h2 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: var(--blue-500);
  text-wrap: pretty;
}

.cards-title p {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-wrap: pretty;
  color: var(--blue-300);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-block-end: var(--section-padding);
  gap: 1.25rem;
}

.cards > div {
  display: grid;
  grid-template-rows: 18rem auto;
}

.cards-img {
  grid-row: 1 / 2;
  display: flex;
  border: 0.25rem solid var(--yellow-50);
  border-radius: 2.5rem;
  box-shadow: 0 1rem 1.5rem 0 var(--blue-50);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-1 {
  background-image: url(./Assets/appetizer.png);
}

.card-2 {
  background-image: url(./Assets/main-dish.png);
}

.card-3 {
  background-image: url(./Assets/desert.png);
}

.cards-img p {
  display: flex;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--red-300);
  margin: 1rem;
  color: var(--blue-50);
  padding: 0.25rem 0.5rem;
  text-align: center;
  align-self: flex-end;
}

.cards-text {
  grid-row: 2 / 3;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  padding-block: 0.625rem;
  gap: 0.625rem;
}

.cards-text h3 {
  font-weight: 700;
  color: var(--blue-500);
}

.cards-text p {
  color: var(--blue-300);
}

.cards-text a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 1024px) {
  .cards-title {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
  }

  .cards > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(10rem, auto);
  }

  .cards-text {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding-inline-start: 1.25rem;
  }
}

@media (max-width: 550px) {
  .cards > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 17.5rem auto;
  }

  .cards-text {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    max-width: fit-content;
    padding-inline: 0;
  }
}

/* -----CONTACT SECTION----- */

.grid-fw:has(.footer-section) {
  background: url(./Assets/Background.png), var(--red-50);
  background-blend-mode: color-burn;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-inline: auto;
  padding: 3.5rem var(--inline-padding);
  gap: 1rem;
}

footer h2 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: var(--blue-500);
  text-wrap: balance;
}

footer > picture {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: center;
}

footer section:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
}

footer section:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
}

footer section h3 {
  font-weight: 700;
  text-wrap: pretty;
  color: var(--blue-500);
}

footer section p:first-of-type {
  color: var(--blue-400);
  padding: 0.5rem 0;
}

footer section:first-of-type p:last-of-type {
  font-weight: 700;
  color: var(--red-500);
}

@media (max-width: 768px) {
  footer {
    grid-template-columns: 1fr 1fr;
  }

  footer section:nth-of-type(1) {
    grid-row: 1 / 2;
  }

  footer section:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

@media (max-width: 550px) {
  footer {
    grid-template-columns: 1fr;
  }

  footer section:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  footer section:nth-of-type(2) {
    display: none;
  }
}