* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --milkapurple: #7c6aab;
    --light-bgr: #f4f4f7;
    --highlight-color: #7fd8f4;
    --animation-time: 200ms ease-in-out;
}

p {
    font-family: Roboto;
    font-weight: 400;
}

h1 {
    font-family: Lobster;
    font-weight: 100;
    color: var(--highlight-color);
}

h4 {
    font-family: Roboto;
    font-size: small;
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    text-transform: uppercase;

}

body {
    scroll-behavior: smooth;
    background-color: var(--light-bgr);
    min-height: 100%;
}

.navigation {
    border-bottom: 1px solid #bfabf1;
    margin-block: .5rem;
    width: 100%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    position: absolute;
    font-family: Roboto;
    font-weight: 600;
    color: var(--milkapurple);
    line-height: 3rem;
    text-transform: uppercase;
}

.menu-open  {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;
}

.menu-close {
    display: none;
}

#nav_checkbox {
    display: none;
}

.menu_items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
}

li {
    list-style: none;
    display: none;
}

 #nav_checkbox:checked ~ ul.menu_items li {
    display: block;
 }

 #nav_checkbox:checked ~ label .menubars {
    display: none;
 }

 #nav_checkbox:checked ~ label .menu-close {
    display: block;
 }

header, main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main {
    background-color: var(--light-bgr);
}

h2 {
    padding-top: 0.2rem;
    color: var(--milkapurple);
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: .4rem;
    text-transform: uppercase;
}

.product-card h2:hover {
    transform: scale(120%);
    cursor: pointer;
    transition: all 1s;
}

.description {
    padding: 1rem 0.5rem;
    background-color: var(--milkapurple);
    color: #fff;
    font-family: Roboto;
    font-weight: 300;
    font-size: medium;  
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    opacity: 0;
    transition: opacity 1s easeInOut 1s;
}

.description:hover {
    opacity: 1;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.product-gallery {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
}

footer {
    background-color: #7c6aab;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;  
}
.menu-footer a {
    font-family: Roboto;
        font-weight: 300;
        color: #fff;
        font-size: small;
    }

.logo-white {
    max-width: 5vw;
    width: 100%;
}

.social {
    display: flex;
    flex-direction: row;
    transform: scale(50%);
}