body {
  margin: 1rem;
  background-color: hsl(40, 72%, 11%);
  font-size: 1rem;
  font-weight: 100;
  height: auto;
  width: auto;
  color:rgb(160, 138, 97);
  background-attachment: scroll;
}

/*Titlu Pro Barber*/
header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: space-evenly;
  font-size: 2rem;  
  line-height: 3rem;
  padding: 2rem;
  border-bottom: 0.5rem solid orange; 
}

/*Meniu de navigare*/
nav{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 1rem;
  border-radius: 0.1rem;
}

.nav-link{
  color:rgb(160, 138, 97);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.5rem;
}

a.nav-link{
  margin: 0;
  height: 3rem;
}

.nav-link,h1{
  display: inline-block;
  text-decoration: none;
  padding-block: 0.1rem 0.1rem; 
}

a:link, a:visited {
  color:rgb(160, 138, 97);
  padding: 0.1rem 0.1rem;
  text-align: center;
  text-decoration: none;
}

a:hover, a:active {
  background-color: orange;
  height: 3rem;
}

/*Partea de descriere*/
main{
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-content: start;
  align-items: center;
}

.top{
  color: white;
}

.sub{
  text-shadow: 2px 2px 5px orange;
}

.subb{
  font-style: italic;
}

.top, .sub, .subb{
  padding-top: 1rem;
  text-transform: uppercase;
}

/*Scurta descriere*/
section.p{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

h2{
  text-decoration-line: underline;
  text-decoration-color: orange;
  text-decoration-style: solid;
}

footer.h2{
  text-decoration-line: underline;
  text-decoration-color: orange;
  text-decoration-style: solid;
}

/*Partea de subsol*/
footer{
  text-align:center;
  padding:1rem;
  color:white;
}

/*localizare pe harta*/
.container{
  width:100%;
}

.map{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

iframe{
  width: 100%;
  height: 30rem;
  filter: invert(100%);
}

/*Contact.html*/

.subtitle-small{
  box-sizing: border-box;
  display: block;
  line-height: 2rem;
  margin-bottom: 5rem;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2rem;
  outline-color: rgb(196, 196, 182);
  outline-style: none;
  padding-block-end: 0px 0px 0px 0px;
  text-align: center;
}

.subtitle-small-info{
  text-transform: uppercase;
}

.program{
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr;
}
 
/*Sevicii.html*/

.prices{
  line-height: 2rem;
  color: white;
}

table,tr{
  border: 0.5rem solid rgb(226, 204, 162);
  border-collapse:collapse;
  width:50%;
}

th,td{
background-color: orange;
text-align: center;
padding-top: 1.3rem;
padding-bottom: 1.3rem;
padding-left: 2.5rem;
padding-right: 2.5rem;
}

/*Galerie foto.html*/

.contr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  background-color: burlywood;
  overflow: auto;
}

.images{
  margin: 1rem;
  border: 0.1rem solid burlywood;
  float: left;
  width:10rem;
}

.images img{
  width: 100%;
  height: auto;
}

@media (min-width: 500px) {
  main{
    font-size: x-large;
  }

  h2{
    font-size: 2rem;
  }

  p{
    font-size: 1.5rem;
  }

  table,tr{
    width:100%;
  }

  .images{
    width: 20rem;
  }
  
  }

@media (min-width: 743px) {

  nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 5rem;
  }

  section{
    padding-top: 2rem;
  }
  
  .images{
    width: 25rem;
  }

  }
 