*{
    margin: 0;
    background-color: fff;
}

.header-nav{
background-color: white;
width: 100%;
display: flex;
position: fixed;
flex-direction: row;
justify-content: space-between;
border-bottom: gray 1px solid;
z-index: 1;

}


.navbar-normal-size{
    font-weight: 400;
    margin-right: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}


.normal-size{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 80%;
}

.li-nav{
    font-family: "Open Sans", sans-serif;
    font-size: medium;
    font-weight: 600;
    text-decoration: bold;
    list-style: none;
}

.li-nav :hover{
    border-bottom: 2px solid;
}

li:hover ul {display: block;}

.logo-img{
    margin-top: 0.2rem;
    margin-left: 1rem;
}
.utils{
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
}


/* Aici este css  continut */

.container-continut{
    padding-top: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    transition: .6s cubic-bezier(.5,0,.5,1);
    
}


.first-iamge{
    padding-bottom: 140%;
}


.body-grid{
    position: relative;}

.img-continut{
    margin-left: 1.5rem;
    width: 90%;
    height: auto;
    
}


.text-imagine{

    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-left: 2.7rem;
    top: 1rem;
    width: 80%;
}


.h2title{
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    color: black;
    justify-content: flex-start;
}
.shop22{
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid black;
    -webkit-transition: background 1s; /* For Safari */
    transition: background 1s; /* For modern browsers */
}

 .shop22:hover{
    
    color: white;
    background-color: black;
    }
/* Aici incepe footer */


footer{
    
    margin-top: 2rem;
    border-top: gray 1px solid;
    height: 20rem;
    width: 100%;
    
}

.footer-div{
    font-size: 17px;
    padding-top: 2rem;
    
    display: flex;
    justify-content: space-around;
    
}
.footer-pad{
    width: 20rem;
    text-align: left;
    padding: 2rem;

}

.footer-pad li{
    list-style-type: none;
}




/* Aici incepe media Query */


@media screen and  (max-width: 830px){
    .li-nav{
        font-size: 14px;

        
    }
    .navbar-normal-size{
        margin-right: 1.5rem;
    }
}


@media screen and  (max-width: 769px){
    .navbar-normal-size{
        display: none;
    }
    .footer-div{
    flex-direction: column;
    align-items: center;
    width: 100%;
    }

    
}
        
@media screen and (min-width: 769px) {

    .utils{
    display: none;
}
    .logo-img{
        margin-left: 4rem;
}
    
.container-continut{
    margin-left: 2rem;
    gap: 2rem;
    /* border: 3px solid green; */
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
}
.body-grid{
    width: 100%;
    position: relative;
    display: grid;
    text-align: center;
}
    
.img-continut{
    width: 100%; 
   object-fit: cover;

}
.cinci{
    grid-row-start: 4;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: -1;
}

.h2title{
    font-size: 20px;
}
    

}
    

